*{
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #260f2b;
}

td, th {
	border: 1px solid black;
}

.bgcolor {background-color: #dde4da;}

.fircolor {background-color: #8baebf;}

.seccolor {background-color: #26809c;}

.acccolor {
	background-color: #a42a4b;
	color: #dde4da;
}

.loginblock {
	margin: 200px 200px 200px 200px;
}

.maincontent {
	border-radius: 25px;
	padding: 20px;
}

.bottomnav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.clearbutt {
	border: none;
	
}
