*{
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #242E30;
}

.bgcolor {background-color: #faf8f2;}

.fircolor {background-color: #b2c6bc;}

.seccolor {background-color: #316672;}

.acccolor {background-color: #5eae12;}

.loginblock {
	margin: 200px 200px 200px 200px;
}

.maincontent {
	border-radius: 25px;
}

.bottomnav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
